################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Parcial_01_Punto_1/.vs/Parcial_01_Punto_1/FileContentIndex/6d3977c0-6efb-4cbe-bdaa-ba72a5f03638.vsidx
/Parcial_01_Punto_1/.vs/Parcial_01_Punto_1/FileContentIndex/1ac388ce-61f5-4905-a9fd-3adb24b7c696.vsidx
/Parcial_01_Punto_1/.vs/Parcial_01_Punto_1/FileContentIndex/1ac388ce-61f5-4905-a9fd-3adb24b7c696.vsidx
