################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Parcial_01_Punto_2/v17/.wsuo
/Parcial_01_Punto_2/.vs/Parcial_01_Punto_2/FileContentIndex/1d30fd72-986f-45e0-ae49-b84ac077137e.vsidx
