################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Parcial_01_Punto_2/v17/.wsuo
/Parcial_01_Punto_2/.vs/Parcial_01_Punto_2/FileContentIndex/1d30fd72-986f-45e0-ae49-b84ac077137e.vsidx
/Parcial_01_Punto_2/bin/Debug/net6.0
/Parcial_01_Punto_2/.vs/Parcial_01_Punto_2/FileContentIndex/34e13ea4-1d0e-4500-bc11-c10f0a8981a0.vsidx
